In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("./Resources/charity_data.csv")

# Drop the non-beneficial ID columns, 'EIN'
application_df = application_df.drop(['EIN'],1)
application_df.head()

C:\Users\auror\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:12: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  if sys.path[0] == '':

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

# Attempt 3: retain and encode name data

In [2]:
# drop features
application_df = application_df.drop(['SPECIAL_CONSIDERATIONS', 'STATUS'],1)

C:\Users\auror\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                19568
APPLICATION_TYPE       17
AFFILIATION             6
CLASSIFICATION         71
USE_CASE                5
ORGANIZATION            4
INCOME_AMT              9
ASK_AMT              8747
IS_SUCCESSFUL           2
dtype: int64

In [4]:
# check frequency of each applicant name
name_counts = application_df.NAME.value_counts()
name_counts

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [5]:
# bin the names
replace_name = list(name_counts[name_counts <100].index)

# Replace in dataframe
for app in replace_name:
    application_df.NAME = application_df.NAME.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.NAME.value_counts()

Other                                                                 25987
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                         408
PTA TEXAS CONGRESS                                                      368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                           331
ALPHA PHI SIGMA                                                         313
TOASTMASTERS INTERNATIONAL                                              293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                       287
LITTLE LEAGUE BASEBALL INC                                              277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                                266
MOMS CLUB                                                               210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION      206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                                197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                    166
KNIGHTS OF COLUMBUS                                                     158
HABITAT FOR HUMANITY INTERNATIONAL INC                                  154
TENNESSEE ORDER OF THE EASTERN STAR                                     151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                 144
PTA UTAH CONGRESS                                                       140
THE UNITED STATES PONY CLUBS INC                                        136
CIVITAN INTERNATIONAL                                                   131
SIGMA BETA DELTA INC                                                    127
HONOR SOCIETY OF PHI KAPPA PHI                                          107
MONTANA 4-H FOUNDATION INC                                              107
WASHINGTON STATE GRANGE                                                 106
UNIVERSITY OF WYOMING                                                   105
DEMOLAY INTERNATIONAL                                                   104
SERTOMA INC                                                             103
Name: NAME, dtype: int64

In [6]:
# Look at APPLICATION_TYPE value counts for binning
app_counts = application_df.APPLICATION_TYPE.value_counts()
app_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Determine which values to replace if counts are less than ...?
replace_application = list(app_counts[app_counts <200].index)

# Replace in dataframe
for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df.CLASSIFICATION.value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [9]:
# Determine which values to replace if counts are less than ..?
replace_class = list(class_counts[class_counts < 1000].index)

# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [10]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
application_cat

# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,NAME_CIVITAN INTERNATIONAL,NAME_DEMOLAY INTERNATIONAL,NAME_FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA,NAME_HABITAT FOR HUMANITY INTERNATIONAL INC,NAME_HONOR SOCIETY OF PHI KAPPA PHI,NAME_INTERNATIONAL ASSOCIATION OF LIONS CLUBS,NAME_INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [11]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df,left_index=True, right_index=True)
application_df = application_df.drop(application_cat,1)
application_df.head()

C:\Users\auror\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,ASK_AMT,IS_SUCCESSFUL,NAME_ALPHA PHI SIGMA,NAME_AMATEUR ATHLETIC UNION OF THE UNITED STATES INC,NAME_AMERICAN ASSOCIATION OF UNIVERSITY WOMEN,NAME_CIVITAN INTERNATIONAL,NAME_DEMOLAY INTERNATIONAL,NAME_FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA,NAME_HABITAT FOR HUMANITY INTERNATIONAL INC,NAME_HONOR SOCIETY OF PHI KAPPA PHI,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [12]:
#Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

C:\Users\auror\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [13]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, 
                          input_dim=number_input_features, 
                          activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, 
                             activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, 
                             activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                5760

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 8,221
Trainable params: 8,221
Non-trainable params: 0
_________________________________________________________________

In [14]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Epoch 1/100
804/804 [==============================] - 1s 969us/step - loss: 0.5165 - accuracy: 0.7435
Epoch 2/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4947 - accuracy: 0.7544
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4921 - accuracy: 0.7570
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4899 - accuracy: 0.7581
Epoch 5/100
804/804 [==============================] - 1s 991us/step - loss: 0.4889 - accuracy: 0.7591
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4878 - accuracy: 0.7596
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4871 - accuracy: 0.7610
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4859 - accuracy: 0.7601
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4855 - accuracy: 0.7608
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4849 - accuracy: 0.7606
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4844 - accuracy: 0.7608
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4841 - accuracy: 0.7617
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4836 - accuracy: 0.7618
Epoch 14/100
804/804 [==============================] - 1s 907us/step - loss: 0.4833 - accuracy: 0.7620
Epoch 15/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4827 - accuracy: 0.7626
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4824 - accuracy: 0.7624
Epoch 17/100
804/804 [==============================] - 1s 964us/step - loss: 0.4822 - accuracy: 0.7637
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4826 - accuracy: 0.7615
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4810 - accuracy: 0.7636
Epoch 20/100
804/804 [==============================] - 1s 926us/step - loss: 0.4815 - accuracy: 0.7627
Epoch 21/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4811 - accuracy: 0.7636
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4809 - accuracy: 0.7626
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4809 - accuracy: 0.7642
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4802 - accuracy: 0.7630
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4802 - accuracy: 0.7629
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4799 - accuracy: 0.7633
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4797 - accuracy: 0.7636
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4798 - accuracy: 0.7634
Epoch 29/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4793 - accuracy: 0.7616
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4795 - accuracy: 0.7631
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4786 - accuracy: 0.7634
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4792 - accuracy: 0.7635
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4785 - accuracy: 0.7646
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4781 - accuracy: 0.7636
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4781 - accuracy: 0.7644
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4784 - accuracy: 0.7651
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4779 - accuracy: 0.7647
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4779 - accuracy: 0.7649
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4774 - accuracy: 0.7638
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4779 - accuracy: 0.7642
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4779 - accuracy: 0.7649
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4773 - accuracy: 0.7653
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4771 - accuracy: 0.7642
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4772 - accuracy: 0.7657
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4771 - accuracy: 0.7645
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4768 - accuracy: 0.7642
Epoch 47/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4766 - accuracy: 0.7651
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4765 - accuracy: 0.7652
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4761 - accuracy: 0.7657
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4767 - accuracy: 0.7650
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4764 - accuracy: 0.7644
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4763 - accuracy: 0.7641
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4760 - accuracy: 0.7655
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4762 - accuracy: 0.7655
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4764 - accuracy: 0.7644
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4761 - accuracy: 0.7661
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4763 - accuracy: 0.7644
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4761 - accuracy: 0.7649
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4755 - accuracy: 0.7647
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4759 - accuracy: 0.7658
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4755 - accuracy: 0.7663
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4759 - accuracy: 0.7647
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4752 - accuracy: 0.7651
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4752 - accuracy: 0.7658
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4751 - accuracy: 0.7661
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4751 - accuracy: 0.7665
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4754 - accuracy: 0.7654
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4750 - accuracy: 0.7656
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4750 - accuracy: 0.7663
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4749 - accuracy: 0.7661
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4749 - accuracy: 0.7650
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.4744 - accuracy: 0.7650
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4747 - accuracy: 0.7650
Epoch 74/100
804/804 [==============================] - 1s 818us/step - loss: 0.4750 - accuracy: 0.7651
Epoch 75/100
804/804 [==============================] - 1s 839us/step - loss: 0.4747 - accuracy: 0.7655
Epoch 76/100
804/804 [==============================] - 1s 951us/step - loss: 0.4746 - accuracy: 0.7654
Epoch 77/100
804/804 [==============================] - 1s 866us/step - loss: 0.4744 - accuracy: 0.7656
Epoch 78/100
804/804 [==============================] - 1s 798us/step - loss: 0.4748 - accuracy: 0.7657
Epoch 79/100
804/804 [==============================] - 1s 758us/step - loss: 0.4743 - accuracy: 0.7644
Epoch 80/100
804/804 [==============================] - 1s 873us/step - loss: 0.4745 - accuracy: 0.7664
Epoch 81/100

804/804 [==============================] - 1s 856us/step - loss: 0.4743 - accuracy: 0.7664
Epoch 82/100
804/804 [==============================] - 1s 786us/step - loss: 0.4738 - accuracy: 0.7662
Epoch 83/100
804/804 [==============================] - 1s 723us/step - loss: 0.4744 - accuracy: 0.7656
Epoch 84/100
804/804 [==============================] - 1s 925us/step - loss: 0.4744 - accuracy: 0.7655
Epoch 85/100
804/804 [==============================] - 1s 838us/step - loss: 0.4749 - accuracy: 0.7654
Epoch 86/100
804/804 [==============================] - 1s 846us/step - loss: 0.4743 - accuracy: 0.7660
Epoch 87/100
804/804 [==============================] - 1s 748us/step - loss: 0.4743 - accuracy: 0.7661
Epoch 88/100
804/804 [==============================] - 1s 858us/step - loss: 0.4741 - accuracy: 0.7667
Epoch 89/100
804/804 [==============================] - 1s 904us/step - loss: 0.4738 - accuracy: 0.7663
Epoch 90/100
804/804 [==============================] - 1s 894us/step - loss: 0.4731 - accuracy: 0.7674
Epoch 91/100
804/804 [==============================] - 1s 785us/step - loss: 0.4738 - accuracy: 0.7650
Epoch 92/100
804/804 [==============================] - 1s 829us/step - loss: 0.4740 - accuracy: 0.7668
Epoch 93/100
804/804 [==============================] - 1s 910us/step - loss: 0.4737 - accuracy: 0.7664
Epoch 94/100
804/804 [==============================] - 1s 870us/step - loss: 0.4734 - accuracy: 0.7670
Epoch 95/100
804/804 [==============================] - 1s 846us/step - loss: 0.4737 - accuracy: 0.7658
Epoch 96/100
804/804 [==============================] - 1s 825us/step - loss: 0.4735 - accuracy: 0.7667
Epoch 97/100
804/804 [==============================] - 1s 946us/step - loss: 0.4734 - accuracy: 0.7668
Epoch 98/100
804/804 [==============================] - 1s 873us/step - loss: 0.4736 - accuracy: 0.7657
Epoch 99/100
804/804 [==============================] - 1s 830us/step - loss: 0.4736 - accuracy: 0.7661
Epoch 100/100
804/804 [==============================] - 1s 728us/step - loss: 0.4734 - accuracy: 0.7665
268/268 - 0s - loss: 0.4977 - accuracy: 0.7571 - 236ms/epoch - 882us/step
Loss: 0.49768438935279846, Accuracy: 0.7570845484733582

In [15]:
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Loss: 0.49768438935279846, Accuracy: 0.7570845484733582